.app-header {
  background-color: var(--clr1);
  color: var(--clr1bg);
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: center;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: var(--clr1bg);
  padding: 8px 0;
}

