.toy-index {
  display: grid;
}

.add-toy-container {
  margin-top: 20px;
  text-align: center;
}

.add-toy {
  text-decoration: none;
  color: white;
  background-color: var(--clr2);
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}
.toy-filter-sort {
  place-self: center;
}
