.toy-index {
  display: grid;
  background-color: $clr2;
}

.add-toy-container {
  margin-top: 20px;
  text-align: center;
}

.add-toy {
  text-decoration: none;
  color: $clr6;
  background-color: $clr1;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}
.toy-filter-sort {
  place-self: center;
  background-color: #f2cd5d;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
