.toy-preview {
  background-color: $clr3;
  border: 1px solid #ccc;
  border-radius: em(5px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: em(20px);
  margin: em(10px);
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    background-color: complement($clr3);
  }
}
