.toy-index {
  padding: em(20px);
  background-color: $clr5;

  .toy-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: em(20px);
    background-color: $clr2;

    .control-left {
      display: flex;
      align-items: center;
      margin-block-start: em(20px);

      .add-toy {
        background-color: $clr1;
        padding: em(10px) em(15px);
        border-radius: em(5px);
        color: $clrwhite;
        text-decoration: none;
        font-weight: bold;
        margin-right: em(20px);
        transition: background-color 0.3s ease;

        &:hover {
          background-color: darken($clr1, 10%);
        }
      }
    }

    .toy-filter,
    .toy-sort {
      margin: 0 10px;
    }
  }
}
