.user-msg {
  background-color: lightgray;
  padding: 0.2em 0.5em;
  position: fixed;
  bottom: 0;
  right: 1em;
  color: white;
  border-radius: 2px;
}

.user-msg.success {
  background-color: $clr1;
}

.user-msg.error {
  background-color: $clr1;
}

.user-msg button {
  font-size: 0.5em;
  float: right;
  margin: 0.5em;
}
